body {
  background: url('../media/how-it-works-button.png') no-repeat -9999px,
  url('../media/ui-bg_inset-hard_100_fcfdfd_1x100.png') no-repeat -9999px,
  url('../media/ui-bg_gloss-wave_55_5c9ccc_500x100.png') no-repeat -9999px,
  url('../media/ui-bg_glass_85_dfeffc_1x400.png') no-repeat -9999px,
  url('../media/ui-bg_inset-hard_100_f5f8f9_1x100.png') no-repeat -9999px,
  url('../media/signup-bg-button.png') no-repeat -9999px;
}
#tabs {
  font-family: inherit;
  font-size: inherit;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
input.tel-ext { /* second selector is to override specifity of another selector */
  width: 5em;
}
input#num-emp {
  width: 5em;
}
/* Basic tabular structure */
.responsive .tel-tabular label:before,
.responsive .tel-tabular label:after {
  content: '\A';
  white-space: pre;
}
.responsive .tel-tabular input[type="radio"]~label:before,
.responsive .tel-tabular input[type="radio"]~label:after,
.responsive .tel-tabular input[type="checkbox"]~label:before,
.responsive .tel-tabular input[type="checkbox"]~label:after {
  content: '';
}
.desktop .tel-tabular {
    border-collapse: collapse;
    margin-bottom: 1em;
    display: table;
    width: 100%;
}
.desktop .tel-tabular > div, .desktop .tel-tabular > li {
    display: table-row-group;
    width: 100%;
}
.desktop .tel-tabular > div > input, .desktop .tel-tabular > div > label,
.desktop .tel-tabular > div > span, .desktop .tel-tabular > div > dl,
.desktop .tel-tabular > li > input, .desktop .tel-tabular > li > label,
.desktop .tel-tabular > li > span, .desktop .tel-tabular > li > dl,
.desktop .tel-tabular > div > ol {
    display: table-cell;
}
.desktop .tel-fieldset > div:nth-child(2) > *:first-child {
  padding-top: 1em;
}
.tel-tabular input {
    margin-right: 1em;
    width: 20em;
}
.tel-tabular input[type="radio"], .tel-tabular input[type="checkbox"] {
  width: auto;
}
.desktop .tel-tabular label {
    text-align: right;
}
/* Extended cells */
.desktop .tel-tabular > div > span > span, .desktop .tel-tabular > li > span > span {
    display: inline-block;
    width: 0;
    white-space: nowrap;
}
.tel-tabular .tel-zip {
    width: 4em;
}
.tel-tabular .tel-country {
  width: 9.8em;
}
/* Mock fieldsets */
.responsive .tel-legend:after {
  content: '\A';
  white-space: pre;
}
.tel-fieldset {
    border: 1px solid;
    padding-left: 1em;
}
.desktop .tel-fieldset > div {
    display: table-row;
    padding-right: 0;
}
.desktop .tel-fieldset > div > input, .desktop .tel-fieldset > div > label,
.desktop .tel-fieldset > div > span, .desktop .tel-fieldset > div > dl,
.desktop .tel-tabular > .tel-fieldset > div > ol {
    display: table-cell;
}
.desktop .tel-fieldset > div > span > span {
    display: inline-block;
    width: 0;
    white-space: nowrap;
}
.tel-tabular .tel-fieldset .tel-legend {
    position: relative;
    display: block;
    font-weight: bold;
}
.tel-fieldset .tel-legend > div {
    position: absolute;
    top: -0.74em;
    left: 0.6em;
    display: block;
    background: white;
    padding: 0 0.3em;
    white-space: nowrap;
}
.tel-tabular label {
    padding-right: 0.3em;
    padding-bottom: 1.2em;
}
.tel-fieldset > div > :first-child {
    padding-left: 0.3em;
}
.tel-tabular dl ol, .tel-tabular .tel-fieldset ol {
  list-style: none;
}
dl dt {
  margin-bottom: 0.75em;
}
input[type="radio"] {
  margin-top: 0;
}
.slug {
  width: 13em;
}
.desktop .tel-comp-desc {
  width: 56.3em;
}
.tel-comp-desc {
  margin-bottom: 1em;
  border-color: #ABADB3;
}
.tel-tabular [required] {
  border: 1px solid black;
}
.tel-tabular textarea, .tel-tabular select, .tel-tabular input {
  padding: 1px;
  font-size: inherit;
  color: inherit !important;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border: 1px solid gray;
  margin-bottom: 0.5em;
}
.tel-tabular input[type="number"].no-spin::-webkit-outer-spin-button,
.tel-tabular input[type="number"].no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tel-tabular .required {
  font-weight: bold;
}
textarea {
  width: 98%;
}
/*
  SmartWizard 2.0 plugin
  jQuery Wizard control Plugin
  by Dipu

  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.desktop #wizard {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  border: 0px solid #CCC;
  overflow:visible;
  float:left;
  width:980px;
}
.desktop #wizard .stepContainer {
  display:block;
  position: relative;
  margin: 0;
  padding:0;
  border: 0px solid #CCC;
  overflow:hidden;
  clear:both;
  min-height: 607px;
}

.desktop #wizard .stepContainer div.content {
  display:block;
  position: absolute;
  float:left;
  margin: 0;
  padding:5px;
  border: 1px solid #CCC;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  color:#5A5655;
  background-color:#F8F8F8;
  text-align:left;
  overflow:visible;
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  width:968px;
  min-height: 647px;
  clear:both;
}

.desktop #wizard div.actionBar {
  display:block;
  position: relative;
  clear:both;
  margin:             3px 0 0 0;
  border:             1px solid #CCC;
  padding:            0;
  color:              #5A5655;
  background-color:   #F8F8F8;
  height:40px;
  text-align:left;
  overflow:auto;
  z-index:88;

  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
  left:0;
}

.desktop #wizard .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;
  border:1px solid #E0E0E0;
  padding:5px;
  font: bold 16px Verdana, Arial, Helvetica, sans-serif;
  color:#5A5655;
  background-color:#E0E0E0;
  clear:both;
  text-align:left;
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;
}
.desktop #wizard ul.anchor {
  position: relative;
  display:block;
  float:left;
  list-style: none;
  padding: 0px;
  margin: 10px 0;
  clear: both;
  border: 0px solid #CCCCCC;
  background: transparent; /*#EEEEEE */
}
.desktop #wizard ul.anchor li{
  background-image: none;
  position: relative;
  display:block;
  margin: 0;
  padding: 0;
  padding-left:3px;
  padding-right: 3px;
  border: 0px solid #E0E0E0;
  float: left;
}
/* Anchor Element Style */
.desktop #wizard ul.anchor li a {
  display:block;
  position:relative;
  float:left;
  margin:0;
  padding:3px;
  height:60px;
  width:182px;
  text-decoration: none;
  outline-style:none;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:99;
}
.desktop #wizard ul.anchor li a .stepNumber{
  position:relative;
  float:left;
  width:30px;
  text-align: center;
  padding:5px;
  padding-top:0;
  font: bold 45px Verdana, Arial, Helvetica, sans-serif;
}
.desktop #wizard ul.anchor li a .stepDesc{
  position:relative;
  display:block;
  float:left;
  text-align: left;
  padding:5px;

  font: bold 20px Verdana, Arial, Helvetica, sans-serif;
}
.desktop #wizard ul.anchor li a .stepDesc small{
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
}
.desktop #wizard ul.anchor li a.selected{
  color:#F8F8F8;
  background: #EA8511;  /* EA8511 */
  border: 1px solid #EA8511;
  cursor:text;
}
.desktop #wizard ul.anchor li a.selected:hover {
  color:#F8F8F8;
  background: #EA8511;
}

.desktop #wizard ul.anchor li a.done {
  position:relative;
  color:#FFF;
  background: #7DAED4;
  border: 1px solid #7DAED4;
  z-index:99;
}
.desktop #wizard ul.anchor li a.done:hover {
  color:#5A5655;
  background: #7DAED4;
  border: 1px solid #5A5655;
}
.desktop #wizard ul.anchor li a.disabled {
  color:#CCCCCC;
  background: #F8F8F8;
  border: 1px solid #CCC;
  cursor:text;
}
.desktop #wizard ul.anchor li a.disabled:hover {
  color:#CCCCCC;
  background: #F8F8F8;
}

.desktop #wizard ul.anchor li a.error {
  color:#6c6c6c !important;
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;
}
.desktop #wizard ul.anchor li a.error:hover {
  color:#000 !important;
}

.desktop #wizard .buttonNext {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
}
.desktop #wizard .buttonDisabled {
  color:#F8F8F8  !important;
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC  !important;
  cursor:text;
}
.desktop #wizard .buttonPrevious {
  display:block;
  float:right;
  margin:5px 3px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
}
.desktop #wizard .buttonFinish {
  display:block;
  float:right;
  margin:5px 10px 0 3px;
  padding:5px;
  text-decoration: none;
  text-align: center;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  width:100px;
  color:#FFF;
  outline-style:none;
  background-color:   #5A5655;
  border: 1px solid #5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
}

/* Form Styles */

.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}
.txtBox:focus {
  border:1px solid #EA8511;
}

#wizard .loader {
  position:relative;
  display:none;
  float:left;
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700;
  font: bold 13px Verdana, Arial, Helvetica, sans-serif;
  color:#5A5655;
  background: #FFF url(../media/preloader-01.gif) no-repeat 5px;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}
#wizard .msgBox {
  position:relative;
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700;
  background-color: #FFFFDD;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  color:#5A5655;
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;
}
#wizard .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}
#wizard .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
#wizard .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;
}
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}

/* Add wide layout template */

.desktop body.wide {
  min-width: 1000px;
}

.desktop body.wide .art-sheet {
  width: 1000px;
}

.desktop body.wide .art-foot-inner {
  width: 1000px;
}

/* Make centered table */
table.center {
  width: 100%;
}

table.center td {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

/* Make a notice style like h5 */

.notice {
  color: #F60;
  font-weight: bold;
}
/* End Additional CSS Styles */
