<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{{>head}}
{{>head-options}}
</head>
<body{{#page.wide}} class="wide"{{/page.wide}}>
<div id="art-main">
  <div id="art-hmenu-bg" class="art-bar art-nav"></div>
  <div class="art-sheet clearfix">
    {{>nav}}
    <div class="art-layout-wrapper">
      <div class="art-content-layout">
        <div class="art-content-layout-row">
          <div class="art-layout-cell art-content">
            {{{content}}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>
</body>
</html>

