<h2 id="complete-your-profile" class=".StepTitle">Complete Your Profile</h2>
<p class="notice">Complete all that apply (required fields are in bold):</p>
  <div class="tel-tabular">
    <div>
      <label for="firstname" class="required">First name:</label><input id="firstname" name="profile[firstname]" required />
      <label for="lastname" class="required">Last name:</label><input id="lastname" name="profile[lastname]" required />
    </div>
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class="tel-fieldset">
      <div class="tel-legend"><div>Company</div></div>
      <div>
        <label for="company-name" class="required">Company Name:</label><input name="profile[company]" id="company-name" placeholder="Name the government knows you by" required />
        <label for="company-dba">Doing Business As:</label><input name="profile[company_dba]" id="company-dba" placeholder="Name customers know you by" />
      </div>
      <div>
        <label for="website" class="required">Website:</label><input type="url" name="profile[website]" id="website" placeholder="http://my.company.com/" required />
        <label for="num-emp"># of Employees:</label>
        <span><span>
          <select name="profile[num_emp]" id="num-emp">
            <option value=""></option>
            <option value="&lt;10">&lt;10</option>
            <option value="&lt;100">&lt;100</option>
            <option value="&lt;1000">&lt;1000</option>
            <option value="1000+">1000+</option>
          </select>
        </span></span>
      </div>
      <div>
        <label for="comp-desc">Brief description:</label>
        <span><span>
            <textarea name="profile[comp_desc]" id="comp-desc" class="tel-comp-desc" rows="4" cols="60"></textarea>
        </span></span>
        <span>&nbsp;</span><span>&nbsp;</span>
      </div>
    </div>
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class="tel-fieldset">
      <div class="tel-legend"><div>Your Office</div></div>
      <div>
        <label for="street" class="required">Street:</label><input name="profile[address1]" id="street" required />
        <label for="phone" class="required">Phone:</label><input name="profile[phone]" id="phone" required />
      </div>
      <div>
        <label for="city" class="required">City:</label><input name="profile[city]" id="city" required />
        <label for="fax">Fax:</label><input name="profile[fax]" id="fax" />
      </div>
      <div>
        <label for="state">State/Province/Region:</label>
        <input id="state" name="profile[state_name]" />
        <label for="zip" class="required">Postal Code/Zip:</label>
        <span><span>
          <input name="profile[zipcode]" id="zip" class="tel-zip" required />
          <label for="country" class="required">Country:</label><input id="country" class="tel-country" name="profile[country]" />
        </span></span>
      </div>
    </div>
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class="tel-fieldset">
      <div class="tel-legend"><div>Corporate Office</div></div>
      <div>
        <label for="corp-street">Street:</label><input name="profile[corporate_address1]" id="corp-street" />
        <label for="corp-phone">Phone:</label><input name="profile[corporate_phone]" id="corp-phone" />
      </div>
      <div>
        <label for="corp-city">City:</label><input name="profile[corporate_city]" id="corp-city" />
        <label for="corp-fax">Fax:</label><input name="profile[corp_fax]" id="corp-fax" />
      </div>
      <div>
        <label for="corp-state">State/Province/Region:</label>
        <input id="corp-state" name="profile[corporate_state_name]" />
        <label for="corp-zip">Postal Code/Zip:</label>
        <span><span>
          <input name="profile[corporate_zipcode]" id="corp-zip" class="tel-zip" />
          <label for="corp-country">Country:</label><input id="corp-country" name="profile[corporate_country]" class="tel-country" />
        </span></span>
      </div>
    </div>
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class="tel-fieldset">
      <div class="tel-legend"><div>Contacts</div></div>
      <div>
        <label for="ref-name">Referral Agent:</label><input name="profile[ref_name]" id="ref-name" />
        <label for="ref-email">Email:</label><input type="email" name="profile[ref_email]" id="ref-email" />
      </div>
      <div>
        <label for="sales-name">Sales:</label><input name="profile[sales_name]" id="sales-name" />
        <label for="sales-email">Email:</label><input type="email" name="profile[sales_email]" id="sales-email" />
      </div>
      <div>
        <label for="support-name">Technical Support:</label><input name="profile[support_name]" id="support-name" />
        <label for="support-email">Email:</label><input type="email" name="profile[support_email]" id="support-email" />
      </div>
      <div>
        <label for="mgr-name">Manager/Owner:</label><input name="profile[mgr_name]" id="mgr-name" />
        <label for="mgr-email">Email:</label><input type="email" name="profile[mgr_email]" id="mgr-email" />
      </div>
    </div>
  </div>
  <div class="tel-tabular">
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class="tel-fieldset">
      <div class="tel-legend"><div>Pay to</div></div>
      <div>
        <ol>
          <li><input type="radio" name="profile[payee]" id="company" value="company" required /><label for="company">Company</label></li>
          <li>Individual</li>
        </ol>
      </div>
      <div>
        <label for="ein">Company's Employer Identification Number:</label><input name="profile[ein]" id="ein" pattern="[0-9]{2}-[0-9]{7}" title="xx-xxxxxxx" placeholder="xx-xxxxxxx" /><span>&nbsp;</span><span>&nbsp;</span>
      </div>
      <div>
        <label for="ssn">Individual's Social Security Number:</label><input name="profile[ssn]" id="ssn" pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}" title="xxx-xx-xxxx" placeholder="xxx-xx-xxxx" /><span>&nbsp;</span><span>&nbsp;</span>
      </div>
    </div>
    <div><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
    <div>
      <label for="authorized" class="required">Person authorized to change "pay-to" info for commissions:</label><input name="profile[authorized]" id="authorized" required /><span class="slug">&nbsp;</span><span class="slug">&nbsp;</span>
    </div>
  </div>
  <div class="tel-tabular">
    <div>
      <dl>
        <dt class="required">Company Type:</dt>
        <dd>
          <ol>
            <li><input type="radio" name="profile[biz_type]" id="consultant" value="consultant" required /><label for="consultant">IT Consultant</label></li>
            <li><input type="radio" name="profile[biz_type]" id="var" value="var" /><label for="var">Value-Added Reseller</label></li>
            <li><input type="radio" name="profile[biz_type]" id="corporate" value="corporate" /><label for="corporate">Corporate</label></li>
            <li><input type="radio" name="profile[biz_type]" id="exchange" value="exchange" /><label for="exchange">MS Exchange Service Provider</label></li>
            <li><input type="radio" name="profile[biz_type]" id="other" value="other" /><label for="exchange">Other</label></li>
          </ol>
        </dd>
      </dl>
      <dl>
        <dt>Customer Demographics (check any which are more than 10% of your business):</dt>
        <dd>
          <ol>
            <li><input type="checkbox" name="profile[biz_demo][]" id="academic" value="academic" /><label for="academic">Academic</label></li>
            <li><input type="checkbox" name="profile[biz_demo][]" id="business" value="business" /><label for="business">Business</label></li>
            <li><input type="checkbox" name="profile[biz_demo][]" id="government" value="government" /><label for="government">Government</label></li>
            <li><input type="checkbox" name="profile[biz_demo][]" id="nonprofit" value="nonprofit" /><label for="nonprofit">Non-profit</label></li>
          </ol>
        </dd>
      </dl>
    </div>
  </div>
  <p class="notice">Click <em>Finish</em> to complete the signup process and see what's next.</p>
  <input type="submit" class="art-button" value="Finish" />

