<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}
<body {{#page.wide}}class="wide"{{/page.wide}}>
<div id="art-main">
  <div id="art-hmenu-bg" class="art-bar art-nav clearfix"></div>
  <div class="art-sheet clearfix">
    {{>nav}}
    <div class="art-layout-wrapper clearfix">
      <div class="art-content-layout">
        <div class="art-content-layout-row">
          <div class="art-layout-cell art-content clearfix">
            {{{content}}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>
</body>
</html>

