<title>{{page.title}} | {{data.title}}</title>
{{#page.description}}
<meta name="description" content="{{.}}" />
{{/page.description}}
<meta name="robots" content="NOODP">
{{#page.redirect}}
<meta http-equiv="refresh" content="{{timeout}};URL={{url}}">
{{/page.redirect}}
<meta name="author" content="{{data.author.name}}" />
{{{stylesheets.all}}}
{{{javascripts.all}}}
<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin">
<link rel="shortcut icon" href="{{urls.media}}/favicon.ico" />
{{#data.canonical}}
<link rel="canonical" href="{{data.production_url}}{{page.url}}" />
{{/data.canonical}}
{{#data.rss}}
<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="{{ href }}" />
{{/data.rss}}
{{#page.scripts}}
<script src="{{urls.javascripts}}/{{.}}"></script>
{{/page.scripts}}
{{#data.jqueryui}}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/{{theme}}/jquery-ui.css" />
<script>
  $(document).ready(function () {
    {{#page.tabs}}
    $("#tabs").tabs();
    {{/page.tabs}}
    {{#page.tooltips}}
    $(document).tooltip();
    {{/page.tooltips}}
  });
</script>
{{/data.jqueryui}}
{{^page.no-track}}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-194272-3']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{{/page.no-track}}

