{{#page.description}}
<meta name="description" content="{{.}}" />
{{/page.description}}
{{#page.redirect}}
<meta http-equiv="refresh" content="{{timeout}};URL={{url}}">
{{/page.redirect}}
{{#data.canonical}}
<link rel="canonical" href="{{data.production_url}}{{page.url}}" />
{{/data.canonical}}
{{#data.rss}}
<link rel="alternate" type="application/rss+xml" title="{{title}}" href="{{href}}" />
{{/data.rss}}
{{#data.jqueryui}}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script>
  $(document).ready(function () {
    {{#page.tabs}}
    $("#tabs").tabs();
    {{/page.tabs}}
    {{#page.tooltips}}
    $(document).tooltip();
    {{/page.tooltips}}
  });
</script>
{{/data.jqueryui}}

